.content {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 50rem;
  min-width: 80rem;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

.tile1 {
  left: 16px;
}

.tile2 {
  right: 5px;
}

.description {
  white-space: pre-line;
}

.btm {
  margin-top: 16px;
}

.container {
  margin-top: 16px;
}
