.container {
  margin-top: 16px;
  width: 80%;
  min-width: 350px;
}

.title {
  text-align: center;
}

.content {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 50rem;
  display: flex;
  flex-flow: column;
}

