<div class="container">
  <div class="card">
    <img class="profile-picture item"
         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bugatti-chiron-pur-sport-106-1582836604.jpg"
         alt="image">
    <div class="break"></div>
    <h1 class="item">Ioan</h1>
    <div class="item text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum venenatis
      bibendum. Maecenas id porta nibh. Quisque ut lorem viverra, maximus risus sit amet, aliquet nulla. Aliquam erat
      volutpat. Etiam ac pellentesque ante. Mauris condimentum molestie tristique. Phasellus sit amet vehicula metus.
    </div>
  </div>
</div>
