<form [formGroup]="registerForm" class="container">
  <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Costel" formControlName="userName">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>Profile name</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat" formControlName="profileName">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Profile type</mat-label>
    <mat-select formControlName="profileType">
      <mat-option value="car" >car</mat-option>
      <mat-option value="driver" >driver</mat-option>
    </mat-select>

    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Profile description</mat-label>
    <textarea matInput formControlName="profileDescription"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="register()">Register</button>
</form>
