<div class="container">
  <div class="item profile-description">
    <app-profile-description [userProfile$]="profile$">

    </app-profile-description>
    <p>User preferences: </p>
    <app-preferences [userOptions$]="userPreferences$"
                     (newOptions)="preferencesToAdd($event)"
                     (deletedOptions)="preferencesToDelete($event)">
    </app-preferences>
    <p>User features: </p>
    <app-preferences [userOptions$]="userFeatures$"
                     (newOptions)="featuresToAdd($event)"
                     (deletedOptions)="featuresToDelete($event)">
    </app-preferences>
  </div>

  <div class="item profile-carousel">
    <app-carousel [images$]="userPhotos$"></app-carousel>
  </div>
</div>
