<div class="container">
  <div class="item profile-description">
    <app-profile-description [userProfile$]="profile$"
                             [photos$]="userPhotos$">

    </app-profile-description>
    <p>User preferences: </p>
    <app-preferences [userOptions$]="userPreferences$"
                     (newOptions)="preferencesToAdd($event)"
                     (deletedOptions)="preferencesToDelete($event)">
    </app-preferences>
    <p>User features: </p>
    <app-preferences [userOptions$]="userFeatures$"
                     (newOptions)="featuresToAdd($event)"
                     (deletedOptions)="featuresToDelete($event)">
    </app-preferences>
  </div>

  <div class="item profile-carousel">
    <app-carousel [images$]="userPhotos$"
                  (currentImage)="currentImage($event)"></app-carousel>

    <div class="image-buttons">
      <mat-form-field class="example-full-width">
        <mat-label>Add image</mat-label>
        <input matInput placeholder="Ex. Pizza" [(ngModel)]="imageToAdd" (keyup.enter) = addImage()>
      </mat-form-field>
      <button mat-raised-button (click)="deleteImage()">Delete Image</button>
    </div>
  </div>
</div>
