<mat-card-content>
  <form [formGroup]="registerForm" class="container">
    <h2 class="title">Register as company</h2>
    <mat-form-field appearance="fill" id="name">
      <mat-label>Company name</mat-label>
      <input #name
             matInput
             name="name"
             required
             formControlName="name"
             placeholder="Ex. User">
    </mat-form-field>
    <mat-form-field appearance="fill" id="username">
      <mat-label>Username</mat-label>
      <input #username
             matInput
             name="username"
             required
             formControlName="username"
             placeholder="Ex. User">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>My description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" id="password">
      <mat-label>Password</mat-label>
      <input #password matInput formControlName="password" type="password"
             (input)="onPasswordInput()" [type]="hide1 ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordConfirmation.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="passwordConfirmation.hasError('minlength')">Password must have at least {{minPw}}characters
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" id="password2">
      <mat-label>Confirm password</mat-label>
      <input #password2 matInput formControlName="password2" type="password"
             (input)="onPasswordInput()" [type]="hide2 ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordConfirmation2.hasError('required')">Please confirm your password</mat-error>
      <mat-error *ngIf="passwordConfirmation2.invalid && !passwordConfirmation2.hasError('required')">Passwords don't
        match
      </mat-error>
    </mat-form-field>
    <section class="buttons">
      <button [disabled]="registerForm.invalid" mat-raised-button color="primary" (click)="register()"
              class="register-button">Register
      </button>
    </section>
  </form>
</mat-card-content>
