<div class="container">
  <div class="my-form">
    <h2>Hello {{student.firstName}} {{student.lastName}}</h2>
    <h4>Submitted profile details:</h4>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <mat-form-field class="full-width">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" [readonly]="isReadonly">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-grid-list cols="3">
      <mat-grid-tile [colspan]="1">
        <mat-card-actions style="width: 82px">
          <button mat-raised-button (click)="update()" color="primary">SAVE</button>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-card-actions style="width: 82px">
          <button mat-raised-button (click)="edit()" color="primary">EDIT</button>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-card-actions style="width: 82px">
          <button mat-raised-button (click)="delete()" color="primary">DELETE</button>
        </mat-card-actions>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
