.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reverse {
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 40%;
  margin-top: 5%;
}

img {
  width: 100%;
  height: 100%;
}
