<form [formGroup]="logInForm" class="container">
  <mat-form-field hintLabel="Max 10 characters" appearance="fill" id="username">
    <mat-label>Username</mat-label>
    <input #username
           matInput
           name="username"
           required
           formControlName="username"
           maxlength="10" placeholder="Ex. User">
    <mat-hint align="end">{{username.value?.length || 0}}/10</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill" id="password">
    <mat-label>Enter your password</mat-label>
    <input #password
           name="password"
           required
           formControlName="password"
           matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <section class="buttons">
    <button mat-raised-button color="primary" (click)="onSubmit()">Log in</button>
    <button mat-raised-button color="primary" (click)="register()">Register</button>
  </section>
</form>
