.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.login_type{
  max-width: 9.9rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
